{% extends 'base.html' %}
{% load static %}
{% block main_area %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="color: black; text-align: center;">동물 보호소</h1>
<br>
<div>
    <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
    <button type="submit" class="btn btn-dark">검색</button>
</div>
<hr>
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <div class="item mb-5">
            <div class="row g-3 g-xl-0">
                <div id="img-col" class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="{%static 'assets\img\gallery\1111.jpg'%}" alt="image">
                </div>
                <div class="col" style="margin-right: 30px;">
                    <h3 class="title mb-1"><a class="text-link" href="/animal_detail">강아지</a></h3>
                    <div class="meta mb-1"><span class="date">2일 전</span><span class="comment"><a class="text-link"
                                href="#">8 comments</a></span></div>
                    <div class="intro" style="color: black;">
                        장소 : 경기도
                        <br>
                        품종 : 시바
                        <br>
                        나이 : 3살
                    </div>
                    <a class="text-link" href="/animal_detail">Read more &rarr;</a>
                </div><!--//col-->

                <div id="img-col" class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="{%static 'assets\img\gallery\1111.jpg'%}" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="/animal_detail">고양이</a></h3>
                    <div class="meta mb-1"><span class="date">1일 전</span><span class="comment"><a class="text-link"
                                href="#">8 comments</a></span></div>
                    <div class="intro" style="color: black;">
                        장소 : 인천
                        <br>
                        품종 : 코숏
                        <br>
                        나이 : 3살
                    </div>
                    <a class="text-link" href="/animal_detail">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
            <br>
            <br>
            <div class="row g-3 g-xl-0">
                <div id="img-col" class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="{%static 'assets\img\gallery\1111.jpg'%}" alt="image">
                </div>
                <div class="col" style="margin-right: 30px;">
                    <h3 class="title mb-1"><a class="text-link" href="/animal_detail">강아지</a></h3>
                    <div class="meta mb-1"><span class="date">2일 전</span><span class="comment"><a class="text-link"
                                href="#">8 comments</a></span></div>
                    <div class="intro" style="color: black;">
                        장소 : 경기도
                        <br>
                        품종 : 시바
                        <br>
                        나이 : 3살
                    </div>
                    <a class="text-link" href="/animal_detail">Read more &rarr;</a>
                </div><!--//col-->

                <div id="img-col" class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="{%static 'assets\img\gallery\1111.jpg'%}" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="/animal_detail">고양이</a></h3>
                    <div class="meta mb-1"><span class="date">1일 전</span><span class="comment"><a class="text-link"
                                href="#">8 comments</a></span></div>
                    <div class="intro" style="color: black;">
                        장소 : 인천
                        <br>
                        품종 : 코숏
                        <br>
                        나이 : 3살
                    </div>
                    <a class="text-link" href="/animal_detail">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
            <br>
            <br>
            <div class="row g-3 g-xl-0">
                <div id="img-col" class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="{%static 'assets\img\gallery\1111.jpg'%}" alt="image">
                </div>
                <div class="col" style="margin-right: 30px;">
                    <h3 class="title mb-1"><a class="text-link" href="/animal_detail">강아지</a></h3>
                    <div class="meta mb-1"><span class="date">2일 전</span><span class="comment"><a class="text-link"
                                href="#">8 comments</a></span></div>
                    <div class="intro" style="color: black;">
                        장소 : 경기도
                        <br>
                        품종 : 시바
                        <br>
                        나이 : 3살
                    </div>
                    <a class="text-link" href="/animal_detail">Read more &rarr;</a>
                </div><!--//col-->

                <div id="img-col" class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="{%static 'assets\img\gallery\1111.jpg'%}" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="/animal_detail">고양이</a></h3>
                    <div class="meta mb-1"><span class="date">1일 전</span><span class="comment"><a class="text-link"
                                href="#">8 comments</a></span></div>
                    <div class="intro" style="color: black;">
                        장소 : 인천
                        <br>
                        품종 : 코숏
                        <br>
                        나이 : 3살
                    </div>
                    <a class="text-link" href="/animal_detail">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//item-->
    </div>
    <!-- 페이지 -->
    <div>
        <nav class="pg_wrap"
            style="text-align: center; position: relative; top: 50%; left: 45%; margin: -150px Opx Opx -200px;">
            <strong class="pg_current">1</strong>
            <a href="#page=2" class="pg_page">2</a>
            <a href="#page=3" class="pg_page">3</a>
            <a href="#page=11" class="pg_page">></a>
            <a href="#page=13" class="pg_page">>></a>
        </nav>
        <ul><a href="{% url 'pet_comm:create_post' %}" class="btn_b01 btn float-end" title="글쓰기">
                <i class="bi bi-pencil-square"></i>글쓰기</a>
        </ul>
    </div>
    <!-- 페이지 -->
</section>
{% endblock main_area %}